@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch|Oswald&display=swap');

/* 
font-family: 'Cabin Sketch', cursive;
font-family: 'Oswald', sans-serif;
*/
/* Color Theme Swatches in Hex */
.password-1-hex { color: #111C26; }
.password-2-hex { color: #2E4559; }
.password-3-hex { color: #6889A6; }
.password-4-hex { color: #D9CAC5; }
.password-5-hex { color: #F20505; }

/* Color Theme Swatches in RGBA */
.password-1-rgba { color: rgba(16, 28, 38, 1); }
.password-2-rgba { color: rgba(46, 69, 89, 1); }
.password-3-rgba { color: rgba(104, 137, 165, 1); }
.password-4-rgba { color: rgba(216, 202, 197, 1); }
.password-5-rgba { color: rgba(242, 4, 4, 1); }

/* Color Theme Swatches in HSLA */
.password-1-hsla { color: hsla(208, 38, 10, 1); }
.password-2-hsla { color: hsla(208, 31, 26, 1); }
.password-3-hsla { color: hsla(208, 25, 52, 1); }
.password-4-hsla { color: hsla(16, 20, 81, 1); }
.password-5-hsla { color: hsla(0, 96, 48, 1); }
/* Global */


a:link, a:visited {
    color: #fff;
}

.logo {
    width: 120px;
}

#resourcesEntry p {
    font-family: 'Josefin Sans', sans-serif;
    color: #0d4415;
}

#blogEntry h2, #resourcesEntry h2 {
    color: #c9c983;
    font-family: 'Pacifico', cursive;
    font-size: 3em;
    text-shadow: 3px 3px 5px #0a0a0a;
    padding-bottom: 20px
}

header h1 {
    color: #c9c983;
    font-family: 'Pacifico', cursive;
    text-shadow: 3px 3px 5px #0a0a0a;
    margin-top: 20px;
    font-size: 3em;
}

/* Navigation */

.nav-pills a {
    color: #0d4415;
    border: #0d4415 solid 2px;
}

.nav-pills > li.active > a {
    color: #fff;
    background-color: #0d4415;
}

.nav-pills > li.active > a:hover,
.nav-pills > li > a:hover {
    background-color: #9fbb9f;
    color: #fff;
}

#navButtons li {
    font-family: 'Josefin Sans' sans-serif;
}

/* Jumbotron Section */
.jumbotron {
    background-image: url(../img/Banner\ 2.jpg);
    background-size: cover;
    background-position: center;
    height: 250px;
}

/* Large Social */

#lgSocial {
    font-family: "Josefin Sans", sans-serif; 
    font-size: 1.5em;
}

#address a {
    font-family: 'Josefin Sans', sans-serif;
    color: #0d4415
}

/* Projects */
#projects > h2,h3 {
    font-family: "Pacifico", cursive;
    color: #c9c983;
    text-shadow: 3px 3px 5px #0a0a0a;
}

#projects p {
    font-family: 'Josefin Sans', sans-serif;
}

#projects button:hover {
    background-color: #9fbb9f;
}

#projects button, #projects button:visited {
    background-color: #0d4415;
    color: #fff;
    border: #0d4415 solid 2px;
}

#projects img {
    height: 175px;
}

/* Blog */
#blog h2 {
    font-family: 'Pacifico', cursive;
    color: #c9c983;
    text-shadow: 3px 3px 5px #0a0a0a;
}

#blog p {
    font-family: 'Josefin Sans', sans-serif;
    color: #0d4415;
}

/* Email Form */

#emailForm {
    border: solid 2px;
    border-color: #0d4415;
    background-color: #9fbb9f;
    border-radius: 20px;
    padding: 30px;
}

#emailFormGroup {
    padding-bottom: 20px;
}

#emailForm p {
    font-family: 'Josefin Sans', sans-serif;
    color: #0d4415;
}

#emailForm h2 {
    font-family: 'Pacifico', sans-serif;
    color: #c9c983;
    text-shadow: 3px 3px 3px #0a0a0a;
    
}

/* Footer */

footer, footer a:link, footer a:visited {
    background-color: #9fbb9f;
    color: #0d4415
}

footer {
    font-family: 'Josefin Sans', sans-serif;
    padding-top: 20px;
}

.rights {
    background-color: #fff;
}

li a:hover {
    background-color: #0d4415;
}